<h1>Sessions#home</h1>
<p>Find me in app/views/sessions/home.html.erb</p>

<p><%= link_to "Logout", logout_path, method: :delete %></p>
<p><%= link_to "Add Team", teams_new_path%></p>
<h4>Teams:</h4>
<ul>
<% @teams.each do |t| %>
	<li>team name: <%= link_to "#{t.name}", teams_path(t) %>
	<%= link_to "Edit", teams_edit_path(t) %>
	</li>
<% end %>
</ul>